@model List<Cat>
@{

    //<h3>@Model.Breed</h3>
    <ul>
        @{
            if (Model != null)
            {
                //List<Cat> DistinctBreeds = Model.FirstOrDefault(c => c.Breed == breed).ToList();
                //Is FirstOrDefault for showing individual objects (like titles, etc. when calling in List<Class>?
                //pass in breed from form
                //create a list of only cats of that breed
                //run linq method on list?
                foreach (Cat c in Model)
                {
                    <div>

                        <h2>@c.Name</h2>
                        <p>
                        <img width="200px" src="@c.Img" />
                        <p>@c.Description</p>
                        <p>Age: @c.Age year old</p>
                        
                    </div>
                        if (c.Fixed == true)
                        {
                        <p>This cat is fixed!</p>
                        }
                        else
                        {
                        <p>This cat is not fixed!</p>
                        }
                        <a asp-action="adopt" asp-route-id="@c.Id">Adopt @c.Name</a>
                    <form asp-method="post" asp-action="Adoption" asp-route-id="@c.Id">
                        <button type="submit">Adopt Me</button>
                    </form>
                }

            }
            else
            {
                <h1>Product not found</h1>
            }
        }
    </ul>
}